.contact_full {
    background-color: #fafafa;
    .contact {
        margin-top: 32px;
        height: 100%;
        .line {
            margin-top: 16px;
        }
        .contact__title {
            h2 {
                width: 178px;
                height: 48px;
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 48px;
                letter-spacing: 0.0025em;
                color: #000000;
                flex: none;
                order: 0;
                flex-grow: 0;
            }
        }
        .contact__cards {
            
            margin-top: 16px;
            display: flex;
            justify-content: space-between;
            .contact__card {
                padding: 53px 0px;
                width: 32%;
                height: 50%;
                background: #ffffff;
                flex: none;
                order: 0;
                flex-grow: 0;
                border-radius: 16px;
                h5 {
                    margin-top: 16px;
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 0.0015em;
                    color: rgba(0, 0, 0, 0.87);
                    flex: none;
                    order: 1;
                    flex-grow: 0;
                    text-align: center;
                }
                p {
                    margin-top: 16px;
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    letter-spacing: 0.005em;
                    color: #000000;
                    flex: none;
                    order: 2;
                    flex-grow: 0;
                }
                img {
                    text-align: center;
                    align-items: center;
                }
            }
        }
    }
}
